*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:  center;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: aliceblue;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: brown;
    text-align: center;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.contenedor{
    width: 30vw;
    border: 1px solid black;
    border-radius: 4px;
    color: aliceblue;
}

.contenedor h1{
    text-align: center;
}

.input-box{
    width: 100%;
    height: 5vh;
    padding: 5px;
    border: none;
}

.input-box input{
    width: 100%;
    height: 3vh;
    border-radius: 4px;
    border: 1px solid;
    background-color: transparent;
}

.input-box input::placeholder{
    padding-left: 5px;
    text-align: center;
    color: aliceblue;
}

.input-box input:hover{
    background-color: black;
    color: aliceblue
}

.error{
    color: red;
}